></span><span class='canada dropdown'>
  <div class='dropdown-toggle' data-toggle='dropdown' data-offset='0, 10'>
    Canada
  </div>
  <div class='dropdown-menu'>
    <div class='dropdown-item'>Alberta</div>
    <div class='dropdown-item'>British Columbia</div>
    <div class='dropdown-item'>Manitoba</div>
    <div class='dropdown-item'>New Brunswick</div>
    <div class='dropdown-item'>Nova Scotia</div>
    <div class='dropdown-item'>Ontario</div>
    <div class='dropdown-item'>Quebec</div>
    <div class='dropdown-item'>Saskatchewan</div>
  </div>
</span


