></span><span class='canada dropdown'>

  <div class='dropdown-toggle' data-toggle='dropdown' data-offset='0, 8'>
    Canada
  </div>

  <div class='canada-menu dropdown-menu'>
    <a href='/alberta' class='dropdown-item'>Alberta</a>
    <a href='/british-columbia' class='dropdown-item'>British Columbia</a>
    <a href='/manitoba' class='dropdown-item'>Manitoba</a>
    <a href='/new-brunswick' class='dropdown-item'>New Brunswick</a>
    <a href='/nova-scotia' class='dropdown-item'>Nova Soctia</a>
    <a href='/ontario' class='dropdown-item'>Ontario</a>
    <a href='/quebec' class='dropdown-item'>Quebec</a>
    <a href='/saskatchewan' class='dropdown-item'>Saskatchewan</a>
  </div>

</span


