><span class='cities dropdown'>
  <div class='dropdown-toggle' data-toggle='dropdown' data-offset='0, 10'>
    Cities
  </div>
  <div class='dropdown-menu'>
    <div class='dropdown-item'>Asheville, NC</div>
    <div class='dropdown-item'>Atlanta, GA</div>
    <div class='dropdown-item'>Atlantic City, NJ</div>
    <div class='dropdown-item'>Austin, TX</div>
    <div class='dropdown-item'>Baltimore, MD</div>
    <div class='dropdown-item'>Boston, MA</div>
    <div class='dropdown-item'>Buffalo, NY</div>
    <div class='dropdown-item'>Charlotte, NC</div>
    <div class='dropdown-item'>Chicago, IL</div>
    <div class='dropdown-item'>Cleveland, OH</div>
    <div class='dropdown-item'>Columbus, OH</div>
    <div class='dropdown-item'>Costa Mesa, CA</div>
    <div class='dropdown-item'>Dallas, TX</div>
    <div class='dropdown-item'>Denver, CO</div>
    <div class='dropdown-item'>Detroit, MI</div>
    <div class='dropdown-item'>Edmonton, AB</div>
    <div class='dropdown-item'>El Paso, TX</div>
    <div class='dropdown-item'>Eugene, OR</div>
    <div class='dropdown-item'>Grand Rapids, MI</div>
    <div class='dropdown-item'>Houston, TX</div>
    <div class='dropdown-item'>Kansas City, MO</div>
    <div class='dropdown-item'>Las Vegas, NV</div>
    <div class='dropdown-item'>Los Angeles, CA</div>
    <div class='dropdown-item'>Madison, WI</div>
    <div class='dropdown-item'>Miami, FL</div>
    <div class='dropdown-item'>Milwaukee, WI</div>
    <div class='dropdown-item'>Minneapolis, MN</div>
    <div class='dropdown-item'>Montreal, QC</div>
    <div class='dropdown-item'>Nashville, TN</div>
    <div class='dropdown-item'>New Orleans, LA</div>
    <div class='dropdown-item'>New York City, NY</div>
    <div class='dropdown-item'>Orlando, FL</div>
    <div class='dropdown-item'>Ottawa, ON</div>
    <div class='dropdown-item'>Philadelphia, PA</div>
    <div class='dropdown-item'>Phoenix, AZ</div>
    <div class='dropdown-item'>Pittsburgh, PA</div>
    <div class='dropdown-item'>Portland, OR</div>
    <div class='dropdown-item'>Reno, NV</div>
    <div class='dropdown-item'>Richmond, VA</div>
    <div class='dropdown-item'>Sacramento, CA</div>
    <div class='dropdown-item'>Saint Louis, MO</div>
    <div class='dropdown-item'>Salt Lake City, UT</div>
    <div class='dropdown-item'>San Diego, CA</div>
    <div class='dropdown-item'>San Francisco, CA</div>
    <div class='dropdown-item'>Santa Barbara, CA</div>
    <div class='dropdown-item'>Seattle, WA</div>
    <div class='dropdown-item'>Tampa, FL</div>
    <div class='dropdown-item'>Toronto, ON</div>
    <div class='dropdown-item'>Vancouver, BC</div>
    <div class='dropdown-item'>Washington, DC</div>
  </div>
</span>