><span class='cities dropdown'>

  <div class='dropdown-toggle' data-toggle='dropdown' data-offset='0, 8'>
    Cities
  </div>

  <div class='cities-menu dropdown-menu'>
    <a href='/asheville-nc' class='dropdown-item'>Asheville, NC</a>
    <a href='/atlanta-ga' class='dropdown-item'>Atlanta, GA</a>
    <a href='/atlantic-city-nj' class='dropdown-item'>Atlantic City, NJ</a>
    <a href='/austin-tx' class='dropdown-item'>Austin, TX</a>
    <a href='/baltimore-md' class='dropdown-item'>Baltimore, MD</a>
    <a href='/boston-ma' class='dropdown-item'>Boston, MA</a>
    <a href='/buffalo-ny' class='dropdown-item'>Buffalo, NY</a>
    <a href='/calgary-ab' class='dropdown-item'>Calgary, AB</a>
    <a href='/charlotte-nc' class='dropdown-item'>Charlotte, NC</a>
    <a href='/chicago-il' class='dropdown-item'>Chicago, IL</a>
    <a href='/cleveland-oh' class='dropdown-item'>Cleveland, OH</a>
    <a href='/columbus-oh' class='dropdown-item'>Columbus, OH</a>
    <a href='/costa-mesa-ca' class='dropdown-item'>Costa Mesa, CA</a>
    <a href='/dallas-tx' class='dropdown-item'>Dallas, TX</a>
    <a href='/denver-co' class='dropdown-item'>Denver, CO</a>
    <a href='/detroit-mi' class='dropdown-item'>Detroit, MI</a>
    <a href='/edmonton-ab' class='dropdown-item'>Edmonton, AB</a>
    <a href='/el-paso-tx' class='dropdown-item'>El Paso, TX</a>
    <a href='/eugene-or' class='dropdown-item'>Eugene, OR</a>
    <a href='/grand-rapids-mi' class='dropdown-item'>Grand Rapids, MI</a>
    <a href='/houston-tx' class='dropdown-item'>Houston, TX</a>
    <a href='/kansas-city-mo' class='dropdown-item'>Kansas City, MO</a>
    <a href='/las-vegas-nv' class='dropdown-item'>Las Vegas, NV</a>
    <a href='/los-angeles-ca' class='dropdown-item'>Los Angeles, CA</a>
    <a href='/madison-wi' class='dropdown-item'>Madison, WI</a>
    <a href='/miami-fl' class='dropdown-item'>Miami, FL</a>
    <a href='/milwaukee-wi' class='dropdown-item'>Milwaukee, WI</a>
    <a href='/minneapolis-mn' class='dropdown-item'>Minneapolis, MN</a>
    <a href='/montreal-qc' class='dropdown-item'>Montreal, QC</a>
    <a href='/nashville-tn' class='dropdown-item'>Nashville, TN</a>
    <a href='/new-orleans-la' class='dropdown-item'>New Orleans, LA</a>
    <a href='/new-york-city-ny' class='dropdown-item'>New York City, NY</a>
    <a href='/orlando-fl' class='dropdown-item'>Orlando, FL</a>
    <a href='/ottawa-on' class='dropdown-item'>Ottawa, ON</a>
    <a href='/philadelphia-pa' class='dropdown-item'>Philadelphia, PA</a>
    <a href='/phoenix-az' class='dropdown-item'>Phoenix, AZ</a>
    <a href='/pittsburgh-pa' class='dropdown-item'>Pittsburgh, PA</a>
    <a href='/portland-or' class='dropdown-item'>Portland, OR</a>
    <a href='/reno-nv' class='dropdown-item'>Reno, NV</a>
    <a href='/richmond-va' class='dropdown-item'>Richmond, VA</a>
    <a href='/sacramento-ca' class='dropdown-item'>Sacramento, CA</a>
    <a href='/saint-louis-mo' class='dropdown-item'>Saint Louis, MO</a>
    <a href='/salt-lake-city-ut' class='dropdown-item'>Salt Lake City, UT</a>
    <a href='/san-diego-ca' class='dropdown-item'>San Diego, CA</a>
    <a href='/san-francisco-ca' class='dropdown-item'>San Francisco, CA</a>
    <a href='/santa-barbara-ca' class='dropdown-item'>Santa Barbara, CA</a>
    <a href='/seattle-wa' class='dropdown-item'>Seattle, WA</a>
    <a href='/tampa-fl' class='dropdown-item'>Tampa, FL</a>
    <a href='/toronto-on' class='dropdown-item'>Toronto, ON</a>
    <a href='/vancouver-bc' class='dropdown-item'>Vancouver, BC</a>
    <a href='/washington-dc' class='dropdown-item'>Washington, DC</a>
  </div>

</span>