<footer id='footer-links'>

  <a class='report'>
    Report Issue
  </a>

  <a class='toTop'>
    Go to Top
  </a>

  <a class='shareApp'>
    Share this App
  </a>

  <a class='eventAdd'>
    Add an Event
  </a>

  <a class='twitterConnect'>
    Connect with Us
  </a>

  <a class='notificationsGet'>
    Get Notifications
  </a> 

  <div class='location-preselect-footer'>
    <%= render 'states_dropdown_footer' %>
    <%= render 'canada_dropdown_footer' %>
    <%= render 'cities_dropdown_footer' %>
  </div>

  <div class='copyright'>
    &#169; 2013 - 2018 EDM Train LLC
  </div>

  <div class='apiContact'>
    <a class='develop'>
      Developer API
    </a>
    <span class='dot'>&#183</span>
    <a class='contact'>
      Contact
    </a>
  </div>

  <div class='policies'>
    <a class='tos'>
      Terms of Use
    </a>
    <span class='dot'>&#183</span>
    <a class='dmca'>
      DMCA
    </a>
    <span class='dot'>&#183</span>
    <a class='privacy'>
      Privacy Policy
    </a>
  </div>

</footer>