<section class='location-wrapper'>
  <div class='location-change'>
    Change Locations
  </div>
  <div class='location-current'>
    New York
  </div>
</section>


<div class='popup-bg'></div>

<div class='location-popup-wrapper'>

  <div class='location-popup'>
    <div class='location-title'>
      Add Locations
    </div>
    <input type='text' placeholder='Search for city or state'>
    <div class='location-search'>Submit</div>
    <div class='location-preselect'>
      <span>
        USA
      </span>
      <span>
        Canada
      </span>
      <span>
        Cities
      </span>
    </div>
  </div>

</div>
