<nav class='tabs'>
  <div class='tab-cities'>
    <span>Cities</span>
  </div>
  <div class='tab-festivals'>
    <span>Festivals</span>
  </div>
  <div class='tab-tours'>
    <span>Tours</span>
  </div>
  <div class='logo'></div>
</nav>