<nav class='tabs'>
  <a href='/' data-remote='true' class='tab-cities'>
    <span class='tab-title'>Cities</span>
  </a>
  <a href='/festivals' data-remote='true' class='tab-festivals'>
    <span class='tab-title'>Festivals</span>
  </a>
  <a href='/tours' data-remote='true'  class='tab-tours'>
    <span class='tab-title'>Tours</span>
  </a>
  <a class='logo'></a>
</nav>