<div id='report-popup-wrapper'>

    <div id='report-popup' class='hide'>

      <div id='popup-close-report'>
        <div class='popup-icon'></div>
      </div>

      <div class='report-title'>
        Report Issue
      </div>

      <textarea class='reportDesc' placeholder='Suggestion, incorrect event, address, bug.. For a reply, use Contact instead.'></textarea>

      <button class='report-submit'>
        Submit
      </button>

    </div>

</div>