<div id='share-popup-wrapper'>

    <div id='share-popup' class='hide'>

      <div id='popup-close-share'>
        <div class='popup-icon'></div>
      </div>

      <a class='share-fb'>
        <span class='fb-icon'>
        </span
        ><span class='fb-label'>
          Facebook
        </span>
      </a>

      <a class='share-google'>
        <span class='google-icon'>
        </span
        ><span class='google-label'>
          Google +
        </span>
      </a>

      <a class='share-email'>
        <span class='email-icon'>
        </span
        ><span class='email-label'>
          Email
        </span>
      </a>

      <a class='share-twitter'>
        <span class='twitter-icon'>
        </span
        ><span class='twitter-label'>
          Twitter
        </span>
      </a>

    </div>

</div>