<aside id='sidebar-wrapper'>
  <div id='sidebar'>

    <div id='sidebar-members'>
      <div class='members-title'>
        Members
      </div>
      <div class='rep-title'>
        Rep
      </div>
      <div class='members-list'>
      </div>
    </div>  

    <div class='downloadApp'>
      <div class='download-info'>
        <div>
          Download edmtrain
        </div>
        <div>
          Free on <span>iOS</span> & <span>Android</span>!
        </div>
      </div>
      <div class='download-pic'>
      </div>
    </div>

    <div class='sideNotify'>
      <span class='sideNotify-info'>Get Notifications</span>
      <%= image_tag('mail.png') %>
    </div>

    <div class='sideAddEvent'>
      <span class='sideAddEvent-info'>Add Event</span>
      <%= image_tag('plus.png') %>
    </div>

  </div>
</aside>