<span class='states dropdown'>
  <div class='dropdown-toggle' data-toggle='dropdown' data-offset='0, 10'>
    USA
  </div>
  <div class='states-menu dropdown-menu'>
    <div class='dropdown-item'>Alabama</div>
    <div class='dropdown-item'>Alaska</div>
    <div class='dropdown-item'>Arizona</div>
    <div class='dropdown-item'>Arkansas</div>
    <div class='dropdown-item'>California</div>
    <div class='dropdown-item'>Colorado</div>
    <div class='dropdown-item'>Connecticut</div>
    <div class='dropdown-item'>Delaware</div>
    <div class='dropdown-item'>Florida</div>
    <div class='dropdown-item'>Georgia</div>
    <div class='dropdown-item'>Hawaii</div>
    <div class='dropdown-item'>Idaho</div>
    <div class='dropdown-item'>Illinois</div>
    <div class='dropdown-item'>Indiana</div>
    <div class='dropdown-item'>Iowa</div>
    <div class='dropdown-item'>Kansas</div>
    <div class='dropdown-item'>Kentucky</div>
    <div class='dropdown-item'>Louisiana</div>
    <div class='dropdown-item'>Maine</div>
    <div class='dropdown-item'>Maryland</div>
    <div class='dropdown-item'>Massachusetts</div>
    <div class='dropdown-item'>Michigan</div>
    <div class='dropdown-item'>Minnesota</div>
    <div class='dropdown-item'>Mississippi</div>
    <div class='dropdown-item'>Missouri</div>
    <div class='dropdown-item'>Montana</div>
    <div class='dropdown-item'>Nebraska</div>
    <div class='dropdown-item'>Nevada</div>
    <div class='dropdown-item'>New Hampshire</div>
    <div class='dropdown-item'>New Jersey</div>
    <div class='dropdown-item'>New Mexico</div>
    <div class='dropdown-item'>New York</div>
    <div class='dropdown-item'>North Carolina</div>
    <div class='dropdown-item'>North Dakota</div>
    <div class='dropdown-item'>Ohio</div>
    <div class='dropdown-item'>Oklahoma</div>
    <div class='dropdown-item'>Oregon</div>
    <div class='dropdown-item'>Pennsylvania</div>
    <div class='dropdown-item'>Rhode Island</div>
    <div class='dropdown-item'>South Carolina</div>
    <div class='dropdown-item'>South Dakota</div>
    <div class='dropdown-item'>Tennessee</div>
    <div class='dropdown-item'>Texas</div>
    <div class='dropdown-item'>Utah</div>
    <div class='dropdown-item'>Vermont</div>
    <div class='dropdown-item'>Virginia</div>
    <div class='dropdown-item'>Washington</div>
    <div class='dropdown-item'>West Virginia</div>
    <div class='dropdown-item'>Wisconsin</div>
    <div class='dropdown-item'>Wyoming</div>
  </div>
</span