<span class='states dropdown'>

  <div class='dropdown-toggle' data-toggle='dropdown' data-offset='0, 8'>
    USA
  </div>

  <div class='states-menu dropdown-menu'>
    <a href='/alabama' class='dropdown-item'>Alabama</a>
    <a href='/alaska' class='dropdown-item'>Alaska</a>
    <a href='/arizona' class='dropdown-item'>Arizona</a>
    <a href='/arkansas' class='dropdown-item'>Arkansas</a>
    <a href='/california' class='dropdown-item'>California</a>
    <a href='/colorado' class='dropdown-item'>Colorado</a>
    <a href='/connecticut' class='dropdown-item'>Connecticut</a>
    <a href='/delaware' class='dropdown-item'>Delaware</a>
    <a href='/florida' class='dropdown-item'>Florida</a>
    <a href='/georgia' class='dropdown-item'>Georgia</a>
    <a href='/hawaii' class='dropdown-item'>Hawaii</a>
    <a href='/idaho' class='dropdown-item'>Idaho</a>
    <a href='/illinois' class='dropdown-item'>Illinois</a>
    <a href='/indiana' class='dropdown-item'>Indiana</a>
    <a href='/iowa' class='dropdown-item'>Iowa</a>
    <a href='/kansas' class='dropdown-item'>Kansas</a>
    <a href='/kentucky' class='dropdown-item'>Kentucky</a>
    <a href='/louisiana' class='dropdown-item'>Louisiana</a>
    <a href='/maine' class='dropdown-item'>Maine</a>
    <a href='/maryland' class='dropdown-item'>Maryland</a>
    <a href='/massachusetts' class='dropdown-item'>Massachusetts</a>
    <a href='/michigan' class='dropdown-item'>Michigan</a>
    <a href='/minnesota' class='dropdown-item'>Minnesota</a>
    <a href='/mississippi' class='dropdown-item'>Mississippi</a>
    <a href='/missouri' class='dropdown-item'>Missouri</a>
    <a href='/montana' class='dropdown-item'>Montana</a>
    <a href='/nebraska' class='dropdown-item'>Nebraska</a>
    <a href='/nevada' class='dropdown-item'>Nevada</a>
    <a href='/new-hampshire' class='dropdown-item'>New Hampshire</a>
    <a href='/new-jersey' class='dropdown-item'>New Jersey</a>
    <a href='/new-mexico' class='dropdown-item'>New Mexico</a>
    <a href='/new-york' class='dropdown-item'>New York</a>
    <a href='/north-carolina' class='dropdown-item'>North Carolina</a>
    <a href='/north-dakota' class='dropdown-item'>North Dakota</a>
    <a href='/ohio' class='dropdown-item'>Ohio</a>
    <a href='/oklahoma' class='dropdown-item'>Oklahoma</a>
    <a href='/oregon' class='dropdown-item'>Oregon</a>
    <a href='/pennsylvania' class='dropdown-item'>Pennsylvania</a>
    <a href='/rhode-island' class='dropdown-item'>Rhode Island</a>
    <a href='/south-carolina' class='dropdown-item'>South Carolina</a>
    <a href='/south-dakota' class='dropdown-item'>South Dakota</a>
    <a href='/tennessee' class='dropdown-item'>Tennessee</a>
    <a href='/texas' class='dropdown-item'>Texas</a>
    <a href='/utah' class='dropdown-item'>Utah</a>
    <a href='/vermont' class='dropdown-item'>Vermont</a>
    <a href='/virginia' class='dropdown-item'>Virginia</a>
    <a href='/washington' class='dropdown-item'>Washington</a>
    <a href='/west-virginia' class='dropdown-item'>West Virginia</a>
    <a href='/wisconsin' class='dropdown-item'>Wisconsin</a>
    <a href='/wyoming' class='dropdown-item'>Wyoming</a>
  </div>

</span