<div class='container-fluid'>
  <div class='page'>

    <%= render 'nav' %>

    <%= render 'popup_bg' %>

    <%= render 'share' %>

    <section id='concerts-wrapper'>
    </section>

    <section id='festivals-wrapper'>
    </section>

    <section id='tours-wrapper'>
      <%= render 'pageTours' %>
    </section>

  </div>
</div>
